<nav>
    <div class="nav-wrapper brown darken-2">
        <a href="/" class="brand-logo"><img id="logo" src="/images/logo-blanco.png" alt=""></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/usuarios">Usuarios</a></li>
            <li><a href="/puertas">Puertas</a></li>
            <li><a href="/registro">Registro</a></li>

            <!-- Botón de login -->
            <li>
                <% if(!session.user){ %>
                    <span><a href="/login">Iniciar sesión</a></span>
                <% } else { %>
                    <ul id="dropdown-login" class="dropdown-content">
                        <li><a href="/logout">Cerrar sesión</a></li>
                    </ul>
                    <li><a class="dropdown-button" href="#!" data-activates="dropdown-login"><%= session.user.username %><i class="material-icons right">arrow_drop_down</i></a></li>
                <% } %>
            </li>

        </ul>
    </div>
</nav>
