<!DOCTYPE html>
<html>
    <% include _head.ejs %>
    <body>

        <div id="pag-error" class="pagsec">
            <img src="images/404-1.png" alt="Error 404 Página no encontrada">
            <h1>Página no encontrada</h1>
            <a href="/">Acceder a la página principal</a>
        </div>

    </body>
</html>
